:root {
  --text-color: #4c4f69;
  --inverted-text-color: #dce0e8;
  --background-color: #e6e9ef;
  --secondary-background-color: #eff1f5;
  --primary-color: #4c4f69;

  --logo-color: #b4befe;
  --logo-hover-color: b4befe;

  --link-color: #9ca0b0;
  --link-highlight-color: #7287fd;

  /* These should match the highlighted theme. */
  --pre-text-color: #cdd6f4;
  --pre-background-color: #181825;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #cdd6f4;
    --inverted-text-color: #11111b;
    --background-color: #181825;
    --secondary-background-color: #1e1e2e;
    --primary-color: #cdd6f4;
    --logo-hover-color: #b4befe;

    --link-color: #cdd6f4;
    --link-highlight-color: #f38ba8;
  }
}
